/************************************************
 * Layout
 ***********************************************/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: #e9ecef;
    font-size: .8rem;
    padding: .5rem 2rem;
    margin-top: auto;
}



/************************************************
 * Éléments communs
 ***********************************************/
 .music-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid #efefef;
    border-radius: 5px;
    padding: .5rem;
}

.music-img {
    width: 20%;
}

.music-info {
    width: 80%;
}

.music-info > * {
    margin: 0;
}

.music-title {
    font-weight: 600;
    font-size: 1.2rem;
}

.music-player {
    width: 100%;
}



/************************************************
 * Homepage
 ***********************************************/
#randomMusic {
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 1.5rem;
}



/************************************************
 * Page recherche
 ***********************************************/
#results, #noResult {
    display: none;
}

#displayMoreRow {
    display: none;
}

#displayMore {
    display: flex;
    justify-content: center;
}

.animated-spinner {
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite; /* Safari 4.0 - 8.0 */
}

/* Standard syntax */
@keyframes spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}



/************************************************
 * Page favoris
 ***********************************************/
#noFavorite {
    display: none;
}



/************************************************
 * Responsive
 ***********************************************/
 @media screen and (max-width: 576px) {
     #searchForm {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
    }
}